{% extends 'base.html' %}

{% block title %} {{category}} {% endblock %}

{% block content %}

{% for product in products %}
{% if forloop.counter == 4 %}
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
{% endif %}
              <div class="product">
                <div class="product-img">
                  <img src="{{product.image.url}}">

                </div>
                <div class="product-code">
                      <span>{{product.code}}</span>
                   </div>

                 <div class="name">
                  <span><a href="#">Компрессор {{product.name}}</a></span>
                </div>
                <div class="discribe">
                  <span>{{product.description|linebreaks}}</span>
                </div>
                <div class="price">
                  <b>{{product.coast}} руб.</b>
                </div>
                <div class="btn">
                  <input type="button" value="Купить">
                </div>
                </div>





{% endfor %}

{% endblock %}